/* styles.css */

.f {
    text-align: left;
    font-size: 30px;
    font-family: monospace;
}

.c {
    text-align: center;
    color: rgb(220, 20, 60);
    background-color: rgba(210, 105, 30, 0.5);
    font-size: 30px;
    font-family:'Franklin Gothic Medium';
}

.p {
    text-align: right;
    color: rgb(255,215,0);
    background-color: rgba(85, 107, 47, 0.7);
    font-size: 30px;
    font-family: 'Arial Narrow Bold';
}

.anchor {
    font-size: 32px;
    font-weight: bold;
}

#ingredient-heading {
    font-family: monospace;
}

#ingredients {
    font-size: 30px;
    font-family: monospace;
}