/* styles.css */

.f,
.c,
.p {
    font-size:30px;
    font-weight: bold;
    border: 2px solid red;
}

.f {
    text-align: left;
    font-family: monospace, sans-serif;
}

.c {
    text-align: center;
    font-family:'Franklin Gothic Medium', sans-serif;
}

.p {
    text-align: right;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.anchor {
    font-size: 30px;
    font-weight: bold;
}

#ingredient-heading {
    font-family: monospace, sans-serif;
}

#ingredients {
    font-size: 30px;
    font-family: monospace, sans-serif;
}